@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Monsieur+La+Doulaise&family=Bodoni+Moda:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-background: #faf9f6;
  --color-text-primary: #2e2e2e;
  --color-text-secondary: #6b7280;
  --color-accent: #7dc4e4;
  --color-accent-hover: #374151;
  --color-accent-light: #e0f2ff;
  --color-border: #d1d5db;

  --font-family-heading: "Cormorant Garamond", serif;
  --font-family-body: "Poppins", sans-serif;
  --font-family-script: "Monsieur La Doulaise", cursive;
  --font-family-display: "Bodoni Moda", serif;
  --font-family-hurricane: "Hurricane", cursive;
}

@layer base {
  body {
    @apply bg-background text-text-primary;
    font-family: var(--font-family-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-heading);
  }

  a {
    @apply text-accent hover:text-accent-hover transition-colors duration-300;
  }

  /* button {
    @apply bg-accent hover:bg-accent-hover text-white px-6 py-2 rounded-lg transition-colors duration-300;
    font-family: var(--font-family-body);
  } */

  hr {
    @apply border border-border w-full;
  }
}
